<ion-header>
  <ion-navbar>
    <ion-title style="float:left;">Start</ion-title>
     <ion-icon name="settings" style="float:right;width:40px;padding:5px" (click)="gotoLogin()"></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <h1 style="text-align: center;">Welcome! Please help us improve your experince by providing a brief, anonymous review.</h1>
  <br/>
  <button ion-button full (click)="gotoProdcuer();" >Let's Start</button>
  <br/>
  <br/>
  <button ion-button full clear (click)="gotoThanks();">No Thanks</button>
  <br/>
  <br/>
</ion-content>